@media only screen and (min-device-width:768px) {
    body {
        display: none
    }
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.frame1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 100px;
    height: 70px;
    left: 25px;
    top: 15px;
}

.logo {
    position: static;
    width: 70px;
    height: 70px;
    left: 0px;
    top: 0px;
    background-image: url(../assets/wj_final.png);
    background-size: 100% 100%;
    /* Inside auto layout */
}

.workjeje {
    position: static;
    width: 36.92px;
    height: 10.86px;
    left: 27.51px;
    top: 8.33px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 20px;
    /* identical to box height */
    color: #197FAA;
}

.hire {
    position: absolute;
    width: 95%;
    left: 25px;
    top: 200px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 60px;
    color: #1B1B3A;
}

.get {
    position: absolute;
    width: 95%;
    left: 25px;
    top: 373px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: #1B1B3A;
}

.frame5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10.2833px 15.8924px;
    position: absolute;
    width: 35%;
    height: 60px;
    left: 7%;
    top: 600px;
    border: 0.934844px solid #1B1B3A;
    box-sizing: border-box;
    border-radius: 4.67422px;
}

.frame4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10.2833px 15.8924px;
    position: absolute;
    width: 35%;
    height: 60px;
    left: 455px;
    top: 600px;
    border: 0.934844px solid #1B1B3A;
    box-sizing: border-box;
    border-radius: 4.67422px;
}

.apple {
    position: static;
    left: 40%;
    top: 15.89px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 11px;
    /* identical to box height */
    color: #1B1B3A;
}

.applelg {
    position: absolute;
    left: 16.64%;
    right: 16.66%;
    top: 8.33%;
    bottom: 12.48%;
    background: #1B1B3A;
}

.dot1 {
    position: absolute;
    width: 95%;
    height: 690px;
    left: 25px;
    top: 780px;
    background-image: url(../assets/Frame57x3.jpg);
    background-size: 100% 100%;
}

.covered {
    position: absolute;
    left: 25%;
    top: 1670px;
    /* Mobile H1 */
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 34px;
    /* identical to box height */
    color: #1B1B3A;
    text-align: center;
}

.subcovered {
    position: absolute;
    left: 25px;
    top: 1740px;
    font-family: Inter;
    width: 95%;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 34px;
    color: rgba(27, 27, 58, 0.8);
    text-align: center;
}

.frame23 {
    position: absolute;
    width: 40%;
    height: 350px;
    left: 35px;
    top: 1900px;
    background-image: url(../assets/Frame23.jpg);
    background-size: 100% 100%;
}

.rectangle2 {
    position: absolute;
    width: 100%;
    height: 350px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 3.42222px 3.42222px rgba(227, 224, 224, 0.25);
    border-radius: 8.55556px 8.55556px 4.27778px 4.27778px;
}

.frame22 {
    position: absolute;
    width: 40%;
    height: 350px;
    left: 52%;
    top: 1900px;
    background-image: url(../assets/Frame22.jpg);
    background-size: 100% 100%;
}

.frame21 {
    position: absolute;
    width: 40%;
    height: 350px;
    left: 35px;
    top: 2350px;
    background-image: url(../assets/Frame21.jpg);
    background-size: 100% 100%;
}

.frame33 {
    position: absolute;
    width: 40%;
    height: 350px;
    left: 52%;
    top: 2350px;
    background-image: url(../assets/Frame33.jpg);
    background-size: 100% 100%;
}

.frame20 {
    position: absolute;
    width: 40%;
    height: 350px;
    left: 35px;
    top: 2800px;
    background-image: url(../assets/Frame20.jpg);
    background-size: 100% 100%;
}

.frame19 {
    position: absolute;
    width: 40%;
    height: 350px;
    left: 52%;
    top: 2800px;
    background-image: url(../assets/Frame19.jpg);
    background-size: 100% 100%;
}

.earn {
    position: absolute;
    left: 35px;
    top: 3300px;
    width: 95%;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 50px;
    color: #1B1B3A;
}

.subearn {
    position: absolute;
    width: 95%;
    height: 85px;
    left: 35px;
    top: 3430px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: rgba(27, 27, 58, 0.8);
}

.button {
    display: flex;
    align-items: center;
    padding: 11px 17px;
    position: absolute;
    width: 30%;
    height: 60px;
    left: 35px;
    top: 3670px;
    background: #197FAA;
    border-radius: 5px;
    border: 1px solid #197FAA;
}

.r12 {
    position: absolute;
    width: 95%;
    height: 1400px;
    left: 25px;
    top: 3840px;
    background: #1B1B3A;
}

.ellipse {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 40px;
    top: 3940px;
    background: rgba(223, 242, 216, 0.1);
}

.subepp {
    position: absolute;
    width: 350px;
    height: 68px;
    left: 64px;
    top: 3960px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 46px;
    color: #FFFFFF;
}

.subep {
    position: absolute;
    width: 93%;
    height: 85px;
    left: 29px;
    top: 4200px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.9);
}

.sup {
    position: static;
    left: 17px;
    width: 100%;
    top: 11px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 12px;
    color: #FFFFFF;
}

.frame11 {
    padding: 18.9848px 29.3401px;
    position: absolute;
    width: 30%;
    height: 320px;
    left: 70px;
    top: 4450px;
    background: rgba(25, 127, 170, 0.5);
    border-radius: 8.62944px;
    background-image: url(../assets/Frame11.jpg);
    background-size: 100% 100%;
}

.frame14 {
    padding: 18.9848px 29.3401px;
    position: absolute;
    width: 30%;
    height: 320px;
    right: 70px;
    top: 4450px;
    background: rgba(25, 127, 170, 0.5);
    border-radius: 8.62944px;
    background-image: url(../assets/Frame14.jpg);
    background-size: 100% 100%;
}

.frame8 {
    padding: 18.9848px 29.3401px;
    position: absolute;
    width: 30%;
    height: 320px;
    left: 70px;
    top: 4850px;
    background: rgba(25, 127, 170, 0.5);
    border-radius: 8.62944px;
    background-image: url(../assets/Frame8.jpg);
    background-size: 100% 100%;
}

.frame17 {
    padding: 18.9848px 29.3401px;
    position: absolute;
    width: 30%;
    height: 320px;
    right: 70px;
    top: 4850px;
    background: rgba(25, 127, 170, 0.5);
    border-radius: 8.62944px;
    background-image: url(../assets/Frame17.jpg);
    background-size: 100% 100%;
}

.frame24 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 95%;
    left: 28px;
    top: 5400px;
}

.commit {
    position: static;
    width: 60%;
    left: 0px;
    top: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 50px;
    color: #1B1B3A;
}

.subcommit {
    position: static;
    width: 95%;
    left: 0px;
    top: 170px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 40px;
    color: rgba(27, 27, 58, 0.8);
}

.group7 {
    position: absolute;
    width: 90%;
    height: 600px;
    left: 30px;
    top: 490px;
    background-image: url(../assets/Group7.jpg);
    background-size: 100% 100%;
}

.group5 {
    position: absolute;
    width: 90%;
    height: 600px;
    left: 30px;
    top: 490px;
    background-image: url(../assets/Group5.jpg);
    background-size: 100% 100%;
}

.frame28 {
    padding: 0px;
    position: absolute;
    width: 95%;
    left: 28px;
    top: 6700px;
}

.rectangle25 {
    position: absolute;
    width: 95%;
    height: 1450px;
    left: 25px;
    top: 7950px;
    border: 0.463215px solid rgba(27, 27, 58, 0.8);
    border-radius: 4.63215px;
}

.leverage {
    position: absolute;
    top: 8050px;
    left: 100px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 40px;
    /* identical to box height */
    color: #1B1B3A;
}

.subleverage {
    position: absolute;
    left: 100px;
    width: 85%;
    top: 8140px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: rgba(27, 27, 58, 0.8);
}

.find {
    position: absolute;
    left: 100px;
    width: 65%;
    top: 8470px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 40px;
    color: #1B1B3A;
}

.subfind {
    position: absolute;
    width: 85%;
    height: 66px;
    left: 100px;
    top: 8600px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: rgba(27, 27, 58, 0.8);
}

.rectangle24 {
    position: absolute;
    width: 90%;
    height: 400px;
    left: 5%;
    top: 8900px;
    background-image: url(../assets/Rectangle24.jpg);
    border-radius: 2.31608px;
    background-size: 100% 100%;
}

.frame34 {
    position: absolute;
    width: 95%;
    height: 400px;
    left: 2.5%;
    top: 9500px;
    background-image: url(../assets/Frame34.jpg);
    background-size: 100% 100%;
}

.frame30 {
    position: absolute;
    left: 45px;
    top: 10100px;
    background: #1B1B3A;
    border-radius: 3.8836px;
    background-image: url(../assets/Frame30.jpg);
    background-size: 100% 100%;
    height: 100px;
    width: 40%;
}

.frame31 {
    position: absolute;
    right: 45px;
    bottom: 12.68%;
    top: 10100px;
    background: #1B1B3A;
    border-radius: 3.8836px;
    background-image: url(../assets/Frame31.jpg);
    background-size: 100% 100%;
    height: 100px;
    width: 40%;
}

.footer {
    position: absolute;
    width: 95%;
    height: 658px;
    left: 2.5%;
    top: 10500px;
}

.rectangle13 {
    position: absolute;
    width: 100%;
    height: 663px;
    left: 0px;
    top: 0px;
    background: #1B1B3A;
}

.wkjbt {
    position: absolute;
    width: 63px;
    height: 15px;
    left: 39px;
    top: 53px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
}

.quick {
    position: absolute;
    width: 108px;
    height: 13px;
    left: 48px;
    top: 110px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    color: #FFFFFF;
}

a {
    text-decoration: none;
}

.about {
    position: absolute;
    width: 41px;
    height: 12px;
    left: 48px;
    top: 137px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}

.features {
    position: absolute;
    width: 60px;
    height: 12px;
    left: 48px;
    top: 163px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}

.faq {
    position: absolute;
    width: 27px;
    height: 11px;
    left: 48px;
    top: 189px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}

.provider {
    position: absolute;
    height: 22px;
    left: 48px;
    top: 265px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    /* identical to box height */
    color: #FFFFFF;
}

.contact {
    position: absolute;
    height: 12px;
    left: 48px;
    top: 293px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}

.privacy {
    position: absolute;
    height: 12px;
    left: 48px;
    top: 319px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}

.terms {
    position: absolute;
    height: 11px;
    left: 48px;
    top: 345px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}

.download {
    position: absolute;
    width: 101px;
    height: 11px;
    left: 48px;
    top: 370px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}

.year {
    position: absolute;
    height: 12px;
    top: 596px;
    font-family: Inter;
    font-style: normal;
    width: 100%;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;
}
